* {
  box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  background: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 75% 50%;
  margin: 0;
  color: #4D4946;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
  color: #FBF9EE;
  text-shadow: 0 1px 2px black;
  margin: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #6EA4BF;
  padding: 1rem;
}

nav a {
  color: #FBF9EE;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

.main-container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background: #F0E1C7;
  padding: 2rem;
}

.sub-header {
  font-size: 2rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #FBF9EE;
  border-radius: 10px;
  box-shadow: 0 8px 8px 4px #11111199;
}

.diary-card {
  background: #FBF9EE;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 8px 4px #11111199;
}

.date-container,
.rating-container,
.notes-container {
  margin-bottom: 1rem;
}

.icon-and-text-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}

.rating-outline {
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.rating-fill {
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: #FC440FAA;
}

.green {
  background: #20FC8FAA;
}

.yellow {
  background: #F6CA00AA;
}

.blue {
  background: #5ADBFFAA;
}

.notes-container h3 {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.notes-container p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
